
*{
    margine: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    background-image: radial-gradient(circle at top right, #ffa949, firebrick);
}
header .profile-image {
    margin-top: 80px;
    /* width: auto; */
    /* max-width: 100%; */
    max-width: 89%;
    /* max-width: 85%; */
    margin-left: 7%;
    /* margin-right: auto; */
    margin-right: 5%;
    border-width: 4px 3px; /* tp+btm, Lft+rt, */
    border-style: solid;
    border-color: #ffa949;
    border-radius: 15px; 
}
  
.introname {
    padding-top: 70px;
    color: blue;
    letter-spacing: .5px;
    /* margin-left: 10%; */
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 2%;
    /* text-align: center; */
    text-shadow: 3px 5px 5px beige;
}
.introd {
    font-size: 170%;
    /* margin-right: 30px; */
    color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 2%;
    /* margin: auto; */
    /* margin-left: 10%; */
    /* text-align: center; */
}
/* --profile2-image-- */
 .profile2-image { 
     width: 67%; 
     /* width: 65%; */
     
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     /* margin-left: auto; */
     margin-left: 20%;
     /* margin-right: auto; */
     border-width: 3px 2px; /* tp+btm, Lft+rt, */
    border-style: solid;
    border-color: blueviolet;
    /* border-color: blue; */
     border-radius: 15px;
}

/* --profile2-image animation-- */
.profile2-image
{
    /* margin-right: 95px; */
    /* margin-right: 0.1%;  */
    
    padding: 0;
    
    animation: move 5s infinite;   
}
@keyframes move {
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(100px);
        /* background: darkred; */
    }
    75% {
        transform: translateX(-50px);
        /* background: darksalmon; */
    }
    100% {
        transform: translateX(20px);
        /* background: deeppink; */
    }
}
/* --End of profile2-image animation-- */

/* h4 a Back to top */
h4 a{
    font-size: 20px;
    color: goldenrod;
    padding-bottom: 60px;
    padding-left: 50px;
    text-align: center;

/* /h4 a Back to top */  
}

/* -------- myslider----------*/
/* Make carousel fully responsive */
.carousel-inner img{
    /* width: 100%; */
    max-width: 95%;
    /* height: 100%; */
    max-height: 95%;
    margin: auto;
    padding-bottom: 2%;
    /* padding: 3% 2%; */
    border-width: 10px 20px; /* tp+btm, Lft+rt, */
    border-style: solid;
    border-color: #ffa949;
}

#myslider
{
    width: 100%;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
    text-shadow: 3px 2px 2px red;
}

.carousel-caption h3
{
    color: white;
    font-size: 45px;
    margin-top: 50px;
    padding-top: 50px;
}

/*---------------------ContactUs-----------------*/
#contactus{
    
    /* background-image: radial-gradient(circle at top right, #ffa949, firebrick); */
    background-image: radial-gradient(circle at top right, #ffa949 0%, firebrick 50%, dodgerblue 100%);
    background-size: cover;
    box-shadow: inset 0 0 50px 10px rgba(0,0,0, 1);
    /* background-color: cadetblue; */
    /* width: 70%; */
    margin: auto;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 3% 2%;
    border-width: 10px 20px;/* tp+btm, Lft+rt, */
    border-style: solid;
    border-color: white;
    /* border: 10px solid #ffa949; */
}
/* Contact Us h2 and h3 */
/* .wdm h2 */
h2
{
    text-align: center;
    color: ivory;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/* .wdm h3 */
.wdm p
{
    text-align: center;
    color: red;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}
.addrs{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    /* text-shadow: 3px 2px 2px #ffa949; */
    text-shadow: 3px 2px 2px #9849ff;

}
span {color: #ffa949;}
/* /ContactUs */

.jumbotron {
    padding-top: 100px;
    /* height: 850px; */
    height: 450px;
    padding-bottom: 20px;
    background:  #434a52 url('../imagesmy/computer-monitor-and-a-laptop-on-a-table-3521937.jpg') no-repeat center;
    background-size: cover;
    /* box-shadow: inset 0 0 50px 50px rgba(0,0,0, 1); */
    box-shadow: inset 0 0 50px 10px rgba(0,0,0, 1);
    
}


